.cardContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto';
}

.container1{
    background-color: #3498db;
    height: 100px;
    width:100px;
    color:white;
    padding: 10px;
    margin-bottom:20px;
}

